html {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth
}

body {
    background-color: inherit;

}
.valign-wrapper.center-align.section.no-pad-bot.first{
    height: 100%;
}

footer div i {
    padding: 10px;
}

.page-footer {
    background-image: url('../img/purple.png');
    height: 30vh;
    background-size: cover;
}

@media (max-width:425px){
    h1{
        font-size: 3em;
    }
    #index-banner div.section.no-pad-bot.first div h1 {
        font-size: 3em;
    }
}

skills-icon {
    font-size: 2em;
}

h4 {
    font-weight: 600 !important;
}

h6 {
    font-weight: 600;
}

nav {
    height: 80px;
    box-shadow: none;
}

div h1 {
    font-weight: bold;
}

p a {
    color: #444;
}

p {
    font-size: 16pt;
}

p a:hover {
    color: #000000;
}

.devicon-oracle-original {
    font-size: 3em;
}

/* Scrollbar */
::-webkit-scrollbar-track
{
    display: none;
}
::-webkit-scrollbar
{
    display: none;
}
::-webkit-scrollbar-thumb{
    display: none;
}

/* label color */

.input-field label {
    color: #fff !important;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: #fff !important;
}

.input-field input[type=email]:focus+label {
    color: #fff !important;
}

.input-field input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: #fff !important;
}

.input-field input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: #fff !important;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #fff !important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #fff !important;
}

.card-reveal::-webkit-scrollbar {
    display: none;
}

/* icon prefix focus color */

.input-field .prefix.active {
    color: #fff !important;
}

.input-field #first_name {
    color: #fff !important;
}

.input-field #email {
    color: #fff !important;
}

.input-field #message {
    color: #fff !important;
}

nav ul a {
    margin: 10px;
    padding: 0px;
    height: 50px;
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    transition: 0.15s ease-in-out;
}

nav ul a:hover {
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0) !important;
}

p {
    line-height: 2rem;
}

a.black-text.btn-large.waves-effect.white:hover {
    color: #ffff !important;
    background-color: #100b29 !important;
}

nav.transparent {
    background-color: rgba(0, 0, 0, 0.2) !important;
}



.link.fab {
    color: #ffff;
    transition: 0.2s ease;
}

.link.fas {
    color: #ffff;
    transition: 0.2s ease;
}

.skills-head {
    margin: 50px 0px 0px 0px !important;
}

.sidenav-trigger {
    margin-top: 10px !important;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: 100vh;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.card{
    border-radius: 30px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #000000;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #444;
}
.card .card-image img {
    border-radius: 30px 30px 0 0;
}
.card .card-content {
    border-radius: 0 0 30px 30px;
}
.card-panel {
    border-radius: 30px;
}

#logo {
    width: 50px;
    height: auto;
    margin: 15px 0px 0px 15px;
}

#materializecss {
    transition: 0.2s ease-in-out
}

#materializecss:hover {
    color: #ee6e73;
}

#youtube:hover {
    color: #FF0000;
}

#twitter:hover {
    color: #1da1f2;
}

#linkedin:hover {
    color: #0077b5;
}

#spotify:hover {
    color: #1db954;
}

#instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#toTop {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: none;
    margin: 20px;
    cursor: pointer;
    z-index: 1;
}

.progress {
    height: 10px;
    border-radius: 10px;
    background-color: #cccccc;
}

.determinate {
    background-color: #000 !important;
}

.modal-trigger {
    border-radius: 100px;
    position: fixed;
    bottom: 0;
    left: 5;
    margin: 20px;
    z-index: 1;
}

#index-banner div.section.no-pad-bot.first div h1 {
    font-size: 4rem;
    font-weight: bold;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

@media only screen and (max-height: 768px) {
    div.center-align.align-wrapper.container {
        margin-top: 15em;
    }
}



.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #fff;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #000;
    stroke-miterlimit: 10;
    margin: auto;
    box-shadow: inset 0px 0px 0px #fff;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 50px #fff;
    }
}

#show-sent {
    padding: 2.8em;
}

.sidenav li>a {
    font-size: 2.5em !important;
}

@media only screen and (max-width: 600px) {
    #show-sent {
        padding: 5.6em;
    }
}